$dark-grey: #d9d9d9;
$light-grey: #f7f7f7;
$blue: #0178ff;
$img-size: 28px;
$text-size: 16px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $text-size;
  img {
    width: $img-size;
    height: $img-size;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  height: 480px;
  border: 2px solid $blue;
  border-radius: 15px;
}


/*********** TOP-BAR *************/
.top-chat {
  height: 35px;
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);

  & .navigation {
    p {
      display: inline;
    }
    img {
      vertical-align: middle;
    }
  }

  & .info-user {
    text-align: center;
    p:last-child {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.333);
    }
  }

  & .call {
      img {
        vertical-align: middle;
      }
    img:first-child {
        margin-right: 5px;
      }


    img:last-child {
      margin-right: 13px;
    }
  }
}

/*********** DISCUSSION CONTENT *************/

.content-discussion {
  height: 360px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);

  img {
    width: 45px;
    height: auto;
    border-radius: 50%;
  }

  p {
    width: auto;
    padding: 20px;
    border-radius: 15px;
  }

  .msg-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    width: 100%;
    margin: 32px 0;
    padding-left: 10px;

    img {
      margin-right: 18px;
    }

    p {
      display: inline-block;
      color: black;
      background-color: $dark-grey;
    }
  }

  .msg-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: auto;
    width: 100%;
    margin: 32px 0;
    padding-right: 10px;

    img {
      margin-left: 18px;
    }

    p {
      display: inline-block;
      color: white;
      background-color: $blue;
    }
  }
}
